﻿@{
    ViewBag.Title = "Home";
}

<h2 style="color: red">This is Home Page</h2>
<p>Hello Everybody in class 08DHTH!</p>
<a href="/Home/About">Nhan vao day de den trang About</a>
<br />
<a href="/Home/HienThi/20">Nhan vao day de hien thi du lieu</a>
<br />
<a href="/Home/Index3/20?name=Le Van Thanh">Nhan vao day de hien thi du lieu co ten</a>
<br />
<a href="/Home/Index3/id=20&name=Le Van Thanh">Nhan vao day de hien thi du lieu co ten (Cach 2)</a>